{% extends 'base/master.html' %}
{% block title %}about UU{% endblock %}

{% block content%}
<div class="main-boх">
    <h2>Про Незримый Университет</h2>
    В давние времена Незримый Университет был центром города. Его основал великий волшебник Альберт Малих — он же, по совместительству, первый аркканцлер Университета. С годами Анк-Морпорк рос и все больше «смещался» вдоль протекающей рядом реки, но магический учебный центр и по сей день остается одной из главных достопримечательностей города. Вблизи от Университета можно заметить развалины первой городской стены, но главная его достопримечательность — высоченная Башня искусств, древнейшее строение, которое даже изображено на гербе Анк-Морпорка.

</div>
{%endblock%}